	</div>
body{
	background-color:#f5f5f5;
}
.container{
	display:flex;
	align-items:flex-start;
}
.header{
	background-color:#011e29;
	text-align:center;
	padding:10px;
	color:white;
	border-radius:10px;
}
.latest-news-section{
	text-align:center;
	padding:5px;
	width:170px;
	/* border:1px solid; */
	background-color:white;
	margin:5px;
	border-radius:5px;
}
.main-article{
	width:300px;
	text-align:center;
	background-color:white;
	padding:5px;
	border-radius:5px;
	margin:5px;
}
.pictorial-news-section{
	width:200px;
	text-align:center;
	background-color:white;
	padding:5px;
	border-radius:5px;
	margin:5px;
}
img{
	width:150px;
}
